<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <title>{{ .Title }}</title>
  <!-- Google Fonts - Josefin Sans -->
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
  {{ $styles := resources.Get "css/main.css" | postCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}">

</head>

<body>
  {{ partial "header.html" . }}
  {{if .IsHome}}
  {{ partial "vegas.html" . }}
  {{end}}
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>
  {{ partial "footer.html" }}

</body>

<style>
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }
</style>

</html>